<div class="input-group">
    <div class="row">
        <div class="col">
            <div class="card-body">
            <form action="" class="form-inline">
                <div class="form-group">
                    <input [(ngModel)]="userName" name="userName" type="search" class="form-control" placeholder="Github user">
                </div>
                <div>
                    <input type="submit" value="search" class="btn btn-outline-info" (click)="search()">
                </div>
            </form>
            </div>
        </div> 
    </div>
  </div>

  
